body, html {
    height: 100%;
    margin: 0;
    overflow: auto;
    background-image: url('C:/Users/User/OneDrive/Desktop/intixel_task/src/img/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .event-details-page {
    max-width: 800px;
    margin: auto;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  h2, h3 {
    text-align: center;
    margin-top: 20px;
  }
  